# Домашнее задание № 2

### Выполнил: Кузнецов С.И.

In [1]:
from surprise import SVD
from surprise import Dataset
from surprise import accuracy
from surprise import Reader
from surprise.model_selection import train_test_split
from surprise.model_selection import cross_validate

import pandas as pd

Задание:

* используйте данные MovieLens 1M
* можно использовать любые модели из пакета
* получите RMSE на тестовом сете 0.87 и ниже

Загружаем датасет

In [2]:
ratings = pd.read_csv('./dataset/ratings.dat', sep = ':', usecols = [0, 2, 4, 6],
                      names = ['UserID', 'MovieID', 'Rating', 'Timestamp'])

ratings.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [3]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 4 columns):
UserID       1000209 non-null int64
MovieID      1000209 non-null int64
Rating       1000209 non-null int64
Timestamp    1000209 non-null int64
dtypes: int64(4)
memory usage: 30.5 MB

In [4]:
movies = pd.read_csv('./dataset/movies.dat', sep = '::',
                     names = ['MovieID', 'Title', 'Genres'])

movies.head()

/home/sergmath/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [5]:
movies_with_ratings = movies.join(ratings.set_index('MovieID'), on='MovieID').reset_index(drop=True)
movies_with_ratings.dropna(inplace=True)
movies_with_ratings.head()

,MovieID,Title,Genres,UserID,Rating,Timestamp
0,1,Toy Story (1995),Animation|Children's|Comedy,1.0,5.0,978824268.0
1,1,Toy Story (1995),Animation|Children's|Comedy,6.0,4.0,978237008.0
2,1,Toy Story (1995),Animation|Children's|Comedy,8.0,4.0,978233496.0
3,1,Toy Story (1995),Animation|Children's|Comedy,9.0,5.0,978225952.0
4,1,Toy Story (1995),Animation|Children's|Comedy,10.0,5.0,978226474.0

Подгружаем данные в библиотеку *surprise*

In [6]:
dataset = pd.DataFrame({
    'uid': movies_with_ratings.UserID,
    'iid': movies_with_ratings.Title,
    'rating': movies_with_ratings.Rating
})

In [7]:
reader = Reader(rating_scale=(0.5, 5.0))
data = Dataset.load_from_df(dataset, reader)

Строим модель с использованием SVD++. Точность проверяем с помощью кросс-валидации.

In [9]:
algo = SVD(n_factors=15, n_epochs=30)
cross_validate(algo, data, measures=['RMSE'], cv=5, verbose=True)

Evaluating RMSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8690  0.8653  0.8632  0.8657  0.8651  0.8657  0.0019
Fit time          120.58  122.55  121.67  121.96  121.72  121.70  0.64
Test time         12.99   12.93   12.91   12.93   13.03   12.96   0.05

{'test_rmse': array([0.86903878, 0.86528709, 0.86320096, 0.8657475 , 0.86507549]),
 'fit_time': (120.58438801765442,
  122.54791688919067,
  121.66690826416016,
  121.95869541168213,
  121.72411894798279),
 'test_time': (12.988319873809814,
  12.928852081298828,
  12.905333995819092,
  12.931298732757568,
  13.031019449234009)}

Как видим, точность RMSE < 0.87 достигается на каждом фолде.